* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-image: url(./assets/fundo-web.png);
    overflow: hidden;
    zoom: 70%;
}

main {
    width: 500px;
    background: #ffffff;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
    margin-top: -50px;   
}

label {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

button {
    background: #000000;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #000000;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    width: 300px;
    display: block;
    margin: 20px auto;
    margin-top: -2px;
}

.seta-preta {
    width: 50px;
    margin: 15px 0;
}

.simbolos-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}


.moeda {
    color: #000000;
    font-size: 14px;
}

.valor-moeda , valor-moeda-convertida {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
}


@media (max-width: 480px) {
    main {
        min-height: 115vh;      /* estica o container para baixo */
        padding-bottom: 40px;  /* dá “respiro” no final */
    }
    section {
        margin-top: 120px; /* empurra a área dos símbolos para baixo */
    }
    button {
        margin-top: 50px;
    }

}


